
<!DOCTYPE html>
<html lang="en" ng-app="Project2">
<head>
  <meta charset="utf-8">
  <title>Stephaneos's Kungfu Class</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="navbar.css" rel="stylesheet">


</head>

<body>

  <div class="container" ng-controller="studentSearch as stud">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color: #FFFFFF">Stephanos Kung Fu Club</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <!-- removing the links
          <ul class="nav navbar-nav">
            <li ><a href="#" style="color: #FFFFFF">Home</a></li>
            <li><a href="#" style="color: #FFFFFF">About</a></li>
            <li><a href="#" style="color: #FFFFFF">Contact</a></li>
          </ul>
        -->
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    <!-- Main component for a seraching students -->
    <div class="searchBar" ng-show="stud.pageTypeSearch">
      <div class="jumbotron" style="padding-top: 10px; padding-bottom: 130px;">
        <!-- Split button -->
        <div class="col-sm-8">
         <h2>Search Student</h2>
         <div class="btn-group">
          <button type="button" class="btn btn-primary"  ng-click="stud.searchCall('All')">All</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-click="stud.searchCall('Rank')">By Rank</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-click="stud.searchCall('Year')">By Year</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-click="stud.searchCall('Belts')">By Belts</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-click="stud.searchCall('Combo')" >
            Combo</button>
          </div >
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary" ng-click="stud.changePage(false)" style="float: right">
            Add Student</button>
          </div>

        </div>
        <!--Hidden fields-->
        <div class="jumbotron" ng-show="stud.searchByCatgory" style="padding-top: 10px; padding-bottom: 100px;">
          <h3>Please select</h3>
          <div class="col-sm-4" ng-show="stud.isSearchByBelts">
            <div class="form-group" >
              <label for="belts">Belt:</label>
              <select class="form-control" id="belts" ng-model="stud.studentStruct.belts" ng-change="stud.callSearchByBelt()" style="width: 200px">
                <option>White</option>
                <option>Black</option>
                <option>Yellow</option>
                <option>Red</option>
              </select> 
            </div>
          </div> 
           <div class="col-sm-4" ng-show="stud.isSearchByRank">
            <div class="form-group" >
              <div class="form-group" >
                <label for="rank">Rank:</label><br>
                <div class="input-group">
                  <input type="text" class="form-control" aria-describedby="basic-addon1" style="width: 200px" ng-model="stud.studentStruct.rank">
                </div>
              </div>
            </div>
          </div> 
          <div class="col-sm-4" ng-show="stud.isSearchByYear">
            <div class="form-group" >
              <label for="year">Year:</label><br>
              <div class="input-group">
                <input type="text" class="form-control" aria-describedby="basic-addon1" style="width: 200px" ng-model="stud.studentStruct.year">
              </div>
            </div>
          </div> 
        </div>

        <!--Combo fields-->
        <div class="jumbotron" ng-show="stud.searchByCombo" style="padding-top: 10px; padding-bottom: 100px;">
          <h3>Please select</h3>
          <div class="col-sm-4">
            <div class="form-group" >
              <label for="belts">Belt:</label>
              <select class="form-control" id="belts" ng-model="stud.studentStruct.belts" style="width: 200px">
                <option>White</option>
                <option>Black</option>
                <option>Yellow</option>
                <option>Red</option>
              </select> 
            </div>
          </div> 
          <div class="col-sm-4">
            <div class="form-group" >
              <div class="form-group" >
                <label for="rank">Rank:</label><br>
                <div class="input-group">
                  <input type="text" class="form-control" aria-describedby="basic-addon1" style="width: 200px" ng-model="stud.studentStruct.rank">
                </div>
              </div>
            </div>
          </div> 
          <div class="col-sm-4">
            <div class="form-group" >
              <label for="year">Year:</label><br>
              <div class="input-group">
                <input type="text" class="form-control" aria-describedby="basic-addon1" style="width: 200px" ng-model="stud.studentStruct.year">
              </div>
            </div>
          </div> 
        </div>



        <!--  Handling if data retrieved from backend  -->
        <div class="jumbotron">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Search {{stud.searchType}}</span>
            <input type="text" ng-model= "query" class="form-control" placeholder="Type Here !!!" aria-describedby="basic-addon1">
          </div>
          <div ng-repeat="record in stud.studentRecord | filter: query " style="margin-top: 10px;">
            <div class="well well-sm" id="">
              Name : {{record.name}} <br>
              Age  : {{record.age}} <br>
              Rank : {{record.rank}} <br>
              Year : {{record.year}} <br>
              Belt : {{record.belts}} <br>
            </div>
          </div>
        </div>
      </div>

      <!-- Main components for Adding new students-->
      <div class="searchBar" ng-hide="stud.pageTypeSearch">
        <div class="jumbotron" style="padding-top: 10px; padding-bottom: 100px;">
          <!-- Split button -->
          <div class="col-sm-8">
           <h2>Add Student</h2>
           <p>Submit below form to add new Student</p>
         </div>
         <div class="col-sm-4">
          <button type="button" class="btn btn-primary" ng-click="stud.changePage(true)" style="float: right">
            Search</button>
          </div>
        </div>

        <!--  Handling if data retrieved from backend  -->
        <div class="jumbotron">
          <div ng-hide="stud.recordNotInserted">
            <form>
             <div class="form-group">
              <label for="usr">Name:</label>
              <input type="text" class="form-control" id="usr" ng-model="stud.studentStruct.name">
            </div>
            <div class="form-group">
              <label for="age">Age:</label>
              <input type="text" class="form-control" id="age" ng-model="stud.studentStruct.age">
            </div>
            <div class="form-group">
              <label for="rank">Rank:</label>
              <select class="form-control" id="rank" ng-model="stud.studentStruct.rank">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
            <div class="form-group">
              <label for="year">Year:</label>
              <input type="text" class="form-control" id="year" ng-model="stud.studentStruct.year">
            </div>
            <div class="form-group">
              <label for="belts">Belt:</label>
              <select class="form-control" id="belts" ng-model="stud.studentStruct.belts">
                <option>White</option>
                <option>Black</option>
                <option>Yellow</option>
                <option>Red</option>
              </select> 
            </div>
            <button class="btn btn-primary" ng-click = "stud.saveStudent()">Submit</button>
          </form>
        </div>
        <div ng-show="stud.recordNotInserted">
          <div class="alert alert-success" ng-show="stud.recInsertedSuccessfully">
           <strong>Success!</strong> Student added successfully.
         </div>
         <div class="alert alert-danger" ng-hide="stud.recInsertedSuccessfully">
          <strong>Insertion Failed!</strong> Something went wrong. Please retry later.
        </div>
      </div>
    </div>


  </div><!-- end of 2nd add block-->

</div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="angular.controller.js"></script>
    <script src="angular.service.js"></script>
  </body>
  </html>
